/* mobile-first */
#site-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#site-nav li {
    display: inline-block;
    margin: 0 5%;
    line-height: 1.5;
}


#site-nav li a {
    display: block;
    border-top: 1px solid #CCC;
    padding: 3%;
}

#site-nav li:last-child a {
    border-bottom: 1px solid #CCC;
}

#link-to-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
#logo {
    text-align: center;
    clear: both;
}

/* mobile-first */


/* ultimo estilo */
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu-item a {
    display: block;
    border-top: 1px solid #CCC;
    padding: 3%;
}

.menu-item:last-child a {
    border-bottom: 1px solid #CCC;
}

/* desktop */
@media only screen and (min-width: 768px) {
    #site-nav ul {
        width: 70%;
        float: right;
    }

    #logo {
        float: left;
        width: 30%;
        clear: none;
    }
}

/* tablet and desktop */
@media only screen and (min-width: 768px) {
    #site-nav {
        position: absolute;
        top: 0;
        left: 30%;
        width: 70%;
    }

    #link-to-menu {
        display: none;
    }

    #site-nav li {
        display: inline-block;
        margin: 0 5%;
        padding: 0;
        width: 18%;
        border: none;
        line-height: 1.5;
    }

    #site-nav li a {
        display: inline;
        border: none;
        padding: 0;
    }

    #site-nav li a,
    #site-nav li:last-child a {
        border: none;
    }
}
